@mixin bgImg($img) {
  background: url($img);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexVertical {
  display: flex;
  align-items: center;
}

@mixin btnCTA {
  background: $primaryGreenRegular;
  color: $textWhite;
  border-color: $primaryGreenRegular;
  &:hover {
    background: $primaryGreenDark;
  }
}

//box shadows

@mixin boxShadowBorder($value...) {
  box-shadow: $value;
  -webkit-box-shadow: $value;
}
